.input {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    text-align: left;
}

.input input, .input select {
    border-radius: 10px;
    border: 1px solid #FFF;
    font-family: 'RobotoMono', monospace;
    margin: 0.6rem 0 0.5rem 0;
    padding: 0.5rem;
}