.new-project__checkbox {
    text-align: left;
    margin-top: 1rem;
}

.checkbox {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 0.6rem;
}

.checkbox-icon {
    all: unset;
    height: 3rem;
    width: 3rem;
    border: none !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1.5rem;
    display: inline-block;
    position: relative;
    margin-right: 1rem;
}

.checkbox-icon:checked {
    background-color: #8cc596;
    border-radius: 50%;
}

/* Checkbox Icons */

.react {
    background-image: url('/src/img/react.svg');
}

.vue {
    background-image: url('/src/img/vue.svg');
}

.angular {
    background-image: url('/src/img/angular.svg');
}

.html {
    background-image: url('/src/img/html.svg');
}

.css {
    background-image: url('/src/img/css.svg');
}

.js {
    background-image: url('/src/img/js.svg');
}

.bootstrap {
    background-image: url('/src/img/bootstrap.svg');
}

.sass {
    background-image: url('/src/img/sass.svg');
}

