.stack-badges {
    display: flex;
    flex-direction: row;
    justify-content: center;    
}

.stack-badge {
    font-size: 0.6rem;
    color: #000;
    background-color: #8cc596;
    border-radius: 1rem;
    padding: 0.5rem 0.5rem;
    width: auto;
    margin: 0.5rem 0.5rem 0 0;
}