.project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 1rem 2rem 0;
    color: #fff;
}

.project .button {
    align-self: flex-end;
}

.project-badges {
    display: flex;
    flex-direction: row;
    justify-content: center;    
}

.project-badges__item {
    font-size: 0.6rem;
    color: #000;
    background-color: #8cc596;
    border-radius: 1rem;
    padding: 0.5rem 0.5rem;
    width: auto;
    margin: 0.5rem 0.5rem 0 0;
}